/* .hero{
    background-image: url("../../assets/home-banner.jpg");
} */

.profile-image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* padding-left: ; */
}

.profile-border{
    border-radius: 50%;
    height: 330px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.151);
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #00000040, #413838);

    
    /* gap: 75px; */
    padding-left: 300px;
    padding-right: 300px;
    /* padding-top: 200px; */
    padding-bottom: 200px;
    /* padding-bottom: 130px; */

}

.hero-content{
    max-width: 50%;
}

.hi-there{
    padding-bottom: 13px;
}

.my-name{
    padding-bottom: 13px;
}

.social-media-logos{
    padding-bottom: 13px;
    display: flex;
    gap: 10px;
}

.hero-about-me{
    line-height: 1.8;

}

.hero-action{
    display: flex;
    gap: 20px;
    font-weight: 500;
}

.more-about-me{
    background-color: rgb(41, 170, 5);
    padding: 12px 28px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.my-portfolio{
    background-color: rgb(152, 152, 152);
    padding: 12px 28px;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s;

}

.more-about-me:hover{
    transform: translateY(-5px);
    transition: 0.4s ease-in-out;
    background-color: rgba(41, 170, 5, 0.874);
}

.my-portfolio:hover{
    transform: translateY(-5px);
    transition: 0.4s ease-in-out;
    background-color: rgba(152, 152, 152, 0.882);
}

.social-media-logos i{
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
}

.social-media-logos i:hover{
    color:  rgb(41, 170, 5);
}

.social-media-logos{
    padding: 20px 0px;
    gap: 20px;
}

.more-link{
    text-decoration: none;
    color: white;
}



@media(min-width:1025px){

    .hero{
        padding-top: 270px;
        padding-left: 130px;
        padding-right: 130px;
        gap: 70px;

    }


    .hero-content{
        max-width: 50%;
    } 
     
    
}


@media(max-width:1024px){
    .hero{

        flex-direction: column;
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 90px;
        padding-bottom: 95px;

    
    }
    .hero-content{
        max-width: 100%;
    }

    .profile-image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
    
    .profile-border{
        border-radius: 50%;
        height: 230px;
        width: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(220, 220, 220, 0.151);
    }

    .hero-content{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

}


@media(max-width:557px){

    .hero{
        padding-left: 60px;
        padding-right: 60px;
    }

    .more-about-me, .my-portfolio{
        font-size: 1em;
        padding: 8px 23px;
    }
}


@media(max-width:480px){
    .more-about-me, .my-portfolio{
        font-size: 1em;
        padding: 8px 29px;
    }
    .hero{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 80px;
    }

    .hero-content p{
        font-size: 0.9em;
    }

    .hero-action{
        display: flex;
        flex-direction: column;
    }

    .hero-content{
        padding-top:10px;
    }
     
    
}

